@charset "UTF-8";
/* Site dimensions */
/* Fonts */
/* Colors */
body.menu-open {
  overflow: hidden; }

body.admin-bar .navbar-brand {
  top: 42px !important; }
  @media (max-width: 860px) {
    body.admin-bar .navbar-brand {
      top: 62px; } }

body.admin-bar #menu-icon {
  top: 42px !important; }
  @media (max-width: 860px) {
    body.admin-bar #menu-icon {
      top: 62px; } }

body .container {
  width: 100% !important;
  max-width: 1024px !important; }

img {
  max-width: 100%; }
  .card img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover; }
  img.aligncenter {
    display: block;
    margin: 3rem auto; }
  .card.author-card img {
    height: auto;
    margin: initial; }

.card-footer {
  background: none;
  border-top: none; }

.card-title {
  margin-top: 0.75rem; }

.site-width {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; }

/* Site navigation */
nav {
  pointer-events: none;
  font-family: "Fira Sans", sans-serif;
  min-height: 5em; }
  nav #menu-toggle {
    display: none; }
    nav #menu-toggle:checked + #menu-wrapper {
      opacity: 1;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      pointer-events: all;
      -webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
      transition: opacity 0.1s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.1s;
      transition: transform 0.3s, opacity 0.1s;
      transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s; }
      nav #menu-toggle:checked + #menu-wrapper li {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        opacity: 1; }
  nav .navbar-brand {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 2em; }
    @media (max-width: 860px) {
      nav .navbar-brand {
        top: 5px;
        left: 5px;
        font-size: 2.5em; } }
  nav #menu-icon {
    z-index: 300;
    font-size: 2.5em;
    position: fixed;
    top: 10px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    pointer-events: all; }
    @media (max-width: 860px) {
      nav #menu-icon {
        left: 10px;
        font-size: 3em; } }
  nav li > a {
    display: inline !important;
    font-size: 2em;
    padding: 0 5px !important;
    line-height: 1.5em;
    color: #4d4350; }
    nav li > a:hover {
      color: #fff;
      background-color: #4d4350; }

#menu-wrapper {
  position: absolute;
  max-height: 100%;
  padding-bottom: 2em;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-5%) scale(1.02);
      -ms-transform: translateY(-5%) scale(1.02);
          transform: translateY(-5%) scale(1.02);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.5s;
  transition: opacity 0.1s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.1s;
  transition: transform 0.5s, opacity 0.1s;
  transition: transform 0.5s, opacity 0.1s, -webkit-transform 0.5s;
  min-height: 100vh; }
  #menu-wrapper li {
    text-transform: uppercase;
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.3s, -webkit-transform 0.4s;
    -o-transition: transform 0.4s, opacity 0.3s;
    transition: transform 0.4s, opacity 0.3s;
    transition: transform 0.4s, opacity 0.3s, -webkit-transform 0.4s; }
  #menu-wrapper li:nth-child(1) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; }
  #menu-wrapper li:nth-child(2) {
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s; }
  #menu-wrapper li:nth-child(3) {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  #menu-wrapper li:nth-child(4) {
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s; }
  #menu-wrapper li:nth-child(5) {
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  #menu-wrapper li:nth-child(6) {
    -webkit-transition-delay: 0.25s;
         -o-transition-delay: 0.25s;
            transition-delay: 0.25s; }
  #menu-wrapper li:nth-child(7) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s; }
  #menu-wrapper li:nth-child(8) {
    -webkit-transition-delay: 0.35s;
         -o-transition-delay: 0.35s;
            transition-delay: 0.35s; }
  #menu-wrapper li:nth-child(9) {
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s; }
  #menu-wrapper li:nth-child(10) {
    -webkit-transition-delay: 0.45s;
         -o-transition-delay: 0.45s;
            transition-delay: 0.45s; }
  #menu-wrapper .row {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }

ul.navbar-nav, ul.navbar-nav li.menu-item {
  display: block; }

/* Site thumbnail */
.thumbnail-wrapper {
  text-align: center; }
  .thumbnail-wrapper img {
    height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    @media (max-width: 860px) {
      .thumbnail-wrapper img {
        -o-object-fit: cover;
           object-fit: cover; } }
    .thumbnail-wrapper img.image-expanded {
      height: 100vh;
      max-width: 100vw;
      -o-object-fit: none;
         object-fit: none; }

body.single-bot .thumbnail-wrapper {
  text-align: center; }
  body.single-bot .thumbnail-wrapper img {
    -o-object-fit: none;
       object-fit: none; }

/* Site footer */
.footer .footer-callout {
  max-width: 300px;
  margin: 0 auto; }

.footer .footer-logo-do {
  height: 1.15em;
  vertical-align: sub; }

/* Fluid video embeds, via css-tricks.com. */
video {
  width: 100% !important;
  height: auto !important; }

.video-background {
  background-color: #000;
  height: 315px;
  margin: 2em 0; }

.video-wrapper {
  position: relative;
  margin: 3em auto;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 315px;
  max-width: 600px; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 315px; }

/* Notes */
.note {
  background-color: #f3f3f3;
  font-weight: bold;
  margin-bottom: 4rem;
  padding: 1em 1em 0.5em; }

/* Search */
@media (max-width: 860px) {
  #search-filters .form-check {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

/* Pagination */
.pagination a, .pagination span {
  padding: 5px !important; }

@media (max-width: 860px) {
  .d-xs-block {
    display: block; } }

body, .hover-box p {
  font-family: "Open Sans", sans-serif !important;
  color: #4d4350; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif;
  line-height: 1;
  font-weight: bold; }

h1 {
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.7em; }
  @media (max-width: 900px) {
    h1 {
      font-size: 3.3em;
      margin-bottom: 1em; } }
  body.single-bot h1,
  body.single-bot h1 {
    word-wrap: break-word; }

h2 {
  font-size: 4em;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  @media (max-width: 900px) {
    h2 {
      font-size: 3em;
      line-height: 1.2em; } }
  body.archive h2,
  body.search h2 {
    margin-top: 0; }

.card h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3em; }

h3 {
  font-size: 3.5em;
  margin-top: 1em;
  margin-bottom: 1em; }
  @media (max-width: 900px) {
    h3 {
      font-size: 2.5em; } }

h4 {
  font-size: 3em;
  margin-top: 4rem;
  margin-bottom: 3rem; }
  @media (max-width: 900px) {
    h4 {
      font-size: 2em; } }

h5 {
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 1rem; }

a {
  color: #4A89DC; }
  a:hover {
    color: #5b9aed; }
  a, a:hover {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

ul, ol {
  padding: 0 1em; }

blockquote {
  /* Courtesy of css-tricks.com. */
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 2em auto;
  padding: 0.5em 1em 1em 0;
  quotes: "“" "”" "‘" "’"; }
  .col-md-6 blockquote {
    padding: 1em; }
  @media (max-width: 900px) {
    blockquote {
      padding: 1em; } }
  blockquote:before {
    color: #ccc;
    content: '“';
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  blockquote p {
    line-height: 1.5em;
    padding: 0 40px; }
    @media (min-width: 900px) {
      blockquote p {
        -webkit-transform: translate(-10px, 0);
            -ms-transform: translate(-10px, 0);
                transform: translate(-10px, 0); } }

blockquote.instagram-media,
iframe.instagram-media {
  display: block;
  margin: 2em auto !important;
  max-width: calc(100% - 10px) !important; }

blockquote.twitter-tweet,
iframe.twitter-tweet,
iframe,
.twitter-tweet {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.twitter-tweet.twitter-tweet-rendered {
  margin: 2em auto !important; }

hr {
  border-top: solid 1px #dfdfdf;
  border-bottom: none;
  margin: 2em auto 2em;
  max-width: 95%; }

.botwiki-logo {
  font-family: "Bree Serif", Serif;
  text-transform: lowercase; }
  .botwiki-logo.navbar-brand {
    position: fixed;
    top: 10px;
    left: 10px;
    text-shadow: 0 0 5px #000;
    pointer-events: all; }
    .botwiki-logo.navbar-brand, .botwiki-logo.navbar-brand:hover {
      color: #fff; }

a.pilcrow {
  font-size: 0.9em;
  vertical-align: top;
  margin-left: 1rem; }
  a.pilcrow, a.pilcrow:visited {
    color: #e6dce9;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  a.pilcrow:hover {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    color: #6f6572; }
  a.pilcrow, a.pilcrow:hover {
    text-decoration: none; }

p.post-tags a {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #6a6a6a;
  color: #fff;
  line-height: 2em;
  padding: 5px;
  white-space: nowrap; }
  p.post-tags a:hover {
    text-decoration: none;
    background-color: #999; }
  p.post-tags a, p.post-tags a:hover {
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }

.share-prompt h3 {
  margin-top: 1rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #6f6572; }

.share-prompt ul.sharing-is-caring {
  padding-left: 0;
  list-style: none; }
  @media (max-width: 860px) {
    .share-prompt ul.sharing-is-caring {
      margin: 10px; } }
  @media (max-width: 860px) {
    .share-prompt ul.sharing-is-caring {
      padding-left: 0; } }
  .share-prompt ul.sharing-is-caring li {
    display: inline; }
    .share-prompt ul.sharing-is-caring li a {
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      .share-prompt ul.sharing-is-caring li a img {
        max-width: 1.8em; }
    .share-prompt ul.sharing-is-caring li a:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s; }

.share-prompt .ssbg-attribution {
  font-size: 0.7em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.background-alternate {
  background-color: #f3f3f3; }

.background-fff {
  background-color: #fff; }

footer ul.footer-list {
  padding: 0;
  list-style: none; }
  @media (max-width: 860px) {
    footer ul.footer-list {
      margin-top: 2em; } }
  footer ul.footer-list li {
    font-weight: bold; }
    footer ul.footer-list li.list-header {
      font-family: "Fira Sans", sans-serif;
      font-size: 1.8em;
      text-transform: uppercase;
      margin-bottom: 0.6em; }
    footer ul.footer-list li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #4d4350; }
      footer ul.footer-list li a:hover {
        color: #807683; }

div.bottom-page-links {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 10px; }
  div.bottom-page-links ul {
    list-style: none; }
    div.bottom-page-links ul li {
      display: inline; }
  div.bottom-page-links img {
    vertical-align: top; }
  div.bottom-page-links a {
    display: inline-block;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    text-decoration: none;
    line-height: 1.5em;
    background-color: #4d4350;
    color: #fff;
    vertical-align: top;
    text-align: center;
    font-size: 2.5em;
    margin: 2px; }
    @media (min-width: 860px) {
      div.bottom-page-links a {
        font-size: 1.9em; } }
    div.bottom-page-links a, div.bottom-page-links a:hover {
      -webkit-transition: opacity 0.3s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
      transition: opacity 0.3s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
      -o-transition: opacity 0.3s, transform 0.2s, box-shadow 0.2s;
      transition: opacity 0.3s, transform 0.2s, box-shadow 0.2s;
      transition: opacity 0.3s, transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s; }
    div.bottom-page-links a:hover {
      -webkit-transform: translate(0, -2px) rotate(2deg);
          -ms-transform: translate(0, -2px) rotate(2deg);
              transform: translate(0, -2px) rotate(2deg);
      -webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
              box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5); }
    div.bottom-page-links a#back-to-top {
      padding: 12px;
      line-height: 1em; }
    div.bottom-page-links a#twitter-link {
      padding: 12px; }
      @media (min-width: 860px) {
        div.bottom-page-links a#twitter-link {
          width: auto; } }
      div.bottom-page-links a#twitter-link img {
        width: 1em; }
      div.bottom-page-links a#twitter-link span {
        font-size: .7em;
        line-height: 1.4em;
        vertical-align: inherit; }
        @media (max-width: 860px) {
          div.bottom-page-links a#twitter-link span {
            display: none; } }

/* Home page styles */
body.home article,
div#menu-wrapper {
  z-index: 200; }
  body.home article h1,
  div#menu-wrapper h1 {
    font-size: 9rem;
    font-weight: bold;
    margin: 2rem 0; }
  body.home article h2,
  div#menu-wrapper h2 {
    font-family: "Open Sans", sans-serif;
    text-transform: lowercase;
    margin-top: 3rem;
    font-size: 3rem;
    margin-bottom: 1rem; }
  body.home article main,
  div#menu-wrapper main {
    min-height: 70vh; }
  body.home article a, body.home article a:hover,
  div#menu-wrapper a,
  div#menu-wrapper a:hover {
    color: #4d4350;
    text-decoration: none; }

.hover-box {
  position: relative; }
  .hover-box, .hover-box:hover {
    -webkit-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s; }
    .hover-box h2, .hover-box p, .hover-box:hover h2, .hover-box:hover p {
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .hover-box:hover {
    background-color: #f3f3f3; }
    .hover-box:hover h2 {
      -webkit-transform: translate(0, -5px);
          -ms-transform: translate(0, -5px);
              transform: translate(0, -5px); }
    .hover-box:hover p {
      -webkit-transform: translate(0, -2px);
          -ms-transform: translate(0, -2px);
              transform: translate(0, -2px); }
  .hover-box a {
    display: block;
    padding: 10px; }

@media (min-width: 860px) {
  .hover-icon {
    font-size: 4.5em;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1000;
    opacity: 0;
    -webkit-transform: translate(0, 20px) rotate(10deg);
        -ms-transform: translate(0, 20px) rotate(10deg);
            transform: translate(0, 20px) rotate(10deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s; }
    .hover-box:hover .hover-icon {
      opacity: 1;
      -webkit-transform: translate(0) rotate(10deg);
          -ms-transform: translate(0) rotate(10deg);
              transform: translate(0) rotate(10deg);
      -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
      transition: opacity 0.2s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s; } }

@media (max-width: 860px) {
  .hover-icon {
    display: none; } }

.select2-container, .select2-container input {
  width: 100% !important; }

.select2-container .select2-selection--single {
  min-height: 2.4rem !important;
  padding-top: 0.2rem !important; }

.select2-selection__arrow {
  top: 0.4rem !important; }

.medium-editor-element {
  min-height: 90px !important; }

.medium-editor-placeholder:after {
  color: #6c757d !important;
  font-style: normal !important; }

ul.btn-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem; }
  ul.btn-list li {
    display: inline; }

.btn {
  font-family: "Oswald ", sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  color: #4d4350 !important;
  background-color: #fafafa;
  font-size: 0.9em; }
  @media (min-width: 860px) {
    .btn {
      padding: 8px 10px; } }
  .btn:hover {
    color: #4d4350;
    text-decoration: none;
    background-color: #e9e9e9; }
  .btn, .btn:hover {
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    text-decoration: none; }
  .btn, .btn-link {
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em; }
    @media (max-width: 860px) {
      .btn, .btn-link {
        margin-bottom: 1em; } }
  .btn-link {
    text-decoration: underline; }

.note .btn, .card .btn {
  margin-bottom: 0; }
  @media (max-width: 860px) {
    .note .btn, .card .btn {
      margin-bottom: 1em; } }

body.archive .note .btn, body.archive .card .btn {
  margin-bottom: 1em; }

.cursor-pointer {
  cursor: pointer; }

.blog-title {
  text-align: center;
  text-transform: uppercase; }
  .blog-title:before {
    display: block;
    content: 'latest posts from the';
    margin-bottom: 0.5rem;
    font-size: 1rem; }

.post-thumbnail {
  padding: 5px;
  margin: 1px;
  position: relative;
  overflow: hidden; }
  .post-thumbnail, .post-thumbnail .post-thumbnail-img {
    min-height: 250px; }

.post-thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover; }

.post-thumbnail-title {
  text-align: left;
  position: absolute;
  bottom: 0;
  border: 5px solid #000;
  background: #fff;
  padding: 5px;
  color: #000;
  font-weight: bold; }
  .post-thumbnail .post-thumbnail-title {
    left: 0;
    right: 0; }
  .post-thumbnail .post-thumbnail-title {
    margin: 5px;
    padding: 10px 5px; }

.post-thumbnail-date {
  font-family: monospace;
  display: block;
  text-align: right; }

.post-thumbnail-1-1, .post-thumbnail-1-1 .post-thumbnail-img {
  min-height: 502px; }
  @media (max-width: 767px) {
    .post-thumbnail-1-1, .post-thumbnail-1-1 .post-thumbnail-img {
      min-height: 250px; } }

.lazy-load {
  opacity: 0;
  -webkit-transform: translate(0, 30px) scale(1.05);
      -ms-transform: translate(0, 30px) scale(1.05);
          transform: translate(0, 30px) scale(1.05); }

.lazy-loaded {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1); }

.lazy-load,
.lazy-loaded {
  -webkit-transition: scale 0.5s, opacity 0.7s, -webkit-transform 0.4s;
  transition: scale 0.5s, opacity 0.7s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, scale 0.5s, opacity 0.7s;
  transition: transform 0.4s, scale 0.5s, opacity 0.7s;
  transition: transform 0.4s, scale 0.5s, opacity 0.7s, -webkit-transform 0.4s; }

.thumbnail-wrapper {
  overflow: hidden; }

.unshifted {
  -webkit-transition: opacity 0.7s, -webkit-transform 0.4s;
  transition: opacity 0.7s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.7s;
  transition: transform 0.4s, opacity 0.7s;
  transition: transform 0.4s, opacity 0.7s, -webkit-transform 0.4s; }

.slide-down {
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s; }

.slide-up,
.slide-up-hidden {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.4s;
  transition: transform 0.3s, opacity 0.4s;
  transition: transform 0.3s, opacity 0.4s, -webkit-transform 0.3s; }

.slide-up {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

.slide-up-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, -15px);
      -ms-transform: translate(0, -15px);
          transform: translate(0, -15px); }

.slide-down {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, 150px);
      -ms-transform: translate(0, 150px);
          transform: translate(0, 150px); }
