.lazy-load{
  opacity: 0;
  transform: translate(0,30px) scale(1.05);
}

.lazy-loaded{
  opacity: 1;
  transform: translate(0,0) scale(1);
}

.lazy-load,
.lazy-loaded{
  transition: transform 0.4s, scale 0.5s, opacity 0.7s;
}


.thumbnail-wrapper{
  overflow: hidden;
}

.unshifted {
  transition: transform 0.4s, opacity 0.7s;
}

.slide-down{
  transition: transform 0.5s, opacity 1s;
}


.slide-up,
.slide-up-hidden{
  transition: transform 0.3s, opacity 0.4s;
}


.slide-up{
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
}

.slide-up-hidden{
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -15px);
}

.slide-down{
  opacity: 0 ;
  pointer-events: none;
  transform: translate(0, 150px);
}

