.blog-title{
  text-align: center;
  text-transform: uppercase;
  position: relative;
  &:before{
    display: block;
    content: 'latest posts from the';
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  &:after{
    display: block;
    content: '🤖';

    @media(min-width: $site-width-small){
      display: block;
      position: relative;
      content: '🤖';
      right: -200px;
      top: -80px;
      font-size: 4rem;
      margin-bottom: -4rem;
      transform: rotate(15deg);
    }

  }
}

.post-thumbnail{
  padding: 5px;
  margin: 1px;
  position: relative;

  // &, &:hover{
  //   transition: all 0.2s;
  // }

  &, & .post-thumbnail-img{
    min-height: 320px;
  }  

  transition: filter 0.3s;  

  &:hover{
    .post-thumbnail-img{
        filter: brightness(45%) opacity(1);
        transition: filter 0.3s;

    }
  }

  overflow: hidden;
}

.blog-post-thumbnail{
  // background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
}

.post-thumbnail-img{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(40%) opacity(0.95);
  transition: filter 0.3s;  
}


.post-thumbnail-title{
  font-family: $title-font-family;
  font-size: 1.4em;
  font-weight: normal;
  text-align: left;
  position: absolute;
  bottom: 0;
  color: #fff;
  // background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

  min-height: 9.5rem;
  padding: 5px;

  .post-thumbnail &{
    left: 0;
    right: 0;
  }

  // .post-thumbnail &,
  // .post-thumbnail:hover &{
  //   transition: all 0.2s;
  // }

  .post-thumbnail &{
    margin: 0;
    padding: 15px;
  }
}




.post-thumbnail-date{
  position: absolute;
  bottom: 1rem;  
  font-size: 1.1rem;
  color: rgba(255,255,255,0.9);
  display: block;
  margin-top: 1rem;
}

.post-thumbnail-1-1{
  .post-thumbnail-title{
    @media(min-width: $site-width-small){
      font-size: 2rem;
    }
  }
  &, & .post-thumbnail-img{
    min-height: 649px;
    @media(max-width: $site-width-small){
      // min-height: 606px;
    }
    @media(max-width: 767px){
      min-height: 320px;
    }
  }
}
