.blog-title{
  text-align: center;
  text-transform: uppercase;
  &:before{
    display: block;
    content: 'latest posts from the';
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

.post-thumbnail{
  padding: 5px;
  margin: 1px;
  position: relative;

  // &, &:hover{
  //   transition: all 0.2s;
  // }

  &, & .post-thumbnail-img{
    min-height: 250px;
  }  

  overflow: hidden;
}

.post-thumbnail-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;

  // &:hover{
  //   opacity: 0.8;
  //   transform: scale(1.05);
  // }

  // &, &:hover{
  //   transition: all 0.3s;
  // }
}


.post-thumbnail-title{
  text-align: left;
  position: absolute;
  bottom: 0;
  border: 5px solid #000;
  background: #fff;
  padding: 5px;

  color: #000;
  font-weight: bold;

  .post-thumbnail &{
    left: 0;
    right: 0;
  }

  // .post-thumbnail &,
  // .post-thumbnail:hover &{
  //   transition: all 0.2s;
  // }

  .post-thumbnail &{
    margin: 5px;
    padding: 10px 5px;
  }
}




.post-thumbnail-date{
  font-family: monospace;
  display: block;
  text-align: right;
}

.post-thumbnail-1-1{
  &, & .post-thumbnail-img{
    min-height: 502px;
    @media(max-width: $site-width-small){
      // min-height: 606px;
    }
    @media(max-width: 767px){
      min-height: 250px;
    }
  }
}
