ul.btn-list{
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;

  @media (min-width: $site-width-small){
    margin: 2.5rem 0;
  }

  li{
    display: inline;
  }
}

.btn{
  font-family: $button-font-family;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;

  padding: 10px;

  @media (min-width: $site-width-small){
    padding: 8px 10px;
  }
  
  color: $color-primary !important;
  background-color: #fff;
  font-size: 0.9em;

  &:hover{
    // box-shadow: 1px 1px 0 $color-primary + #222;
    color: $color-primary;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0);
  }

  &,
  &:hover{
    transition: background-color 0.1s;
    text-decoration: none;
  }

  &, &-link{
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    @media (max-width: $site-width-small){
      margin-bottom: 1em;
    }
  }

  &-link{
    text-decoration: underline;
  }
}

.note, .card{
  .btn{
    margin-bottom: 0;
    @media (max-width: $site-width-small){
      margin-bottom: 1em;
    }
  }
}

body.archive{
  .note, .card{
    .btn{
      margin-bottom: 1em;
    }
  }  
}
