ul.btn-list{
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;

  li{
    display: inline;
  }
}

.btn{
  font-family: "Oswald ", sans-serif;
  border: 1px solid #ccc;

  padding: 10px;

  @media (min-width: $site-width-small){
    padding: 8px 10px;
  }
  
  color: $color-primary !important;
  background-color: #fafafa;
  font-size: 0.9em;

  &:hover{
    // box-shadow: 1px 1px 0 $color-primary + #222;
    color: $color-primary;
    text-decoration: none;
    background-color: #fafafa - #111;
  }

  &,
  &:hover{
    transition: background-color 0.2s;
    text-decoration: none;
  }

  &, &-link{
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    @media (max-width: $site-width-small){
      margin-bottom: 1em;
    }
  }

  &-link{
    text-decoration: underline;
  }
}

.note, .card{
  .btn{
    margin-bottom: 0;
    @media (max-width: $site-width-small){
      margin-bottom: 1em;
    }
  }
}

body.archive{
  .note, .card{
    .btn{
      margin-bottom: 1em;
    }
  }  
}
