.select2-container{
  &, input{
    width: 100% !important;
  }
}

.select2-container .select2-selection--single{
  min-height: 2.4rem !important;
  padding-top: 0.2rem !important;
}

.select2-selection__arrow{
  top: 0.4rem !important;  
}


