.select2-container{
  &, input{
    width: 100% !important;
  }
}

.select2-container .select2-selection--single{
  min-height: 2.4rem !important;
  padding-top: 0.2rem !important;
}

.select2-selection__arrow{
  top: 0.4rem !important;  
}

.medium-editor-element{
  min-height: 90px !important;
}

.medium-editor-placeholder:after{
  color: #6c757d !important;
  font-style: normal !important;
}

#bot-tags-help{
    font-size: 0.8em;
    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}