.select2-container{
  &, input{
    width: 100% !important;
  }
}

.select2-container .select2-selection--single{
  min-height: 2.4rem !important;
  padding-top: 0.2rem !important;
}

.select2-dropdown{
  [data-bs-theme="dark"] & {
    background-color: $background-dark-mode;
  }  
}

.select2-selection__arrow{
  top: 0.4rem !important;  
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: 1px solid #ced4da !important;
}

.select2-container .select2-selection__rendered > *:first-child.select2-search--inline {
  width: 100% !important;
}
.select2-container .select2-selection__rendered > *:first-child.select2-search--inline .select2-search__field {
  width: 100% !important;
}

.medium-editor-element{
  min-height: 90px !important;
  height: auto;
}

.medium-editor-placeholder:after{
  color: #6c757d !important;
  font-style: normal !important;
}

.form-help-text{
    font-size: 0.8em;
    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.form-control{
  [data-bs-theme="dark"] & {
    color: $color-primary !important;
  }  
}