/* Home page styles */

body.home article,
div#menu-wrapper{
  z-index: 200;
  h1{
    font-size: 8rem;
    font-weight: bold;
    margin: 2rem 0;    
  }
  h2{
    font-family: "Abril Fatface";
    text-transform: lowercase;
    margin-top: 3rem;
    font-size: 3rem;
    margin-bottom: 1rem;    
  }
  main{
    min-height: 70vh;
  }
  a, a:hover{
    color: $link-color-alternate;
    text-decoration: none;      
  }
}

.hover-box{
  position: relative;
  padding-bottom: 1em;
  border-radius: 8px;

  &,&:hover{
    transition: background-color 0.2s;
    h2, a{
      transition: transform 0.3s;
    }
  }
  &:hover{
    background-color: $background-alternate;
    h2{
      transform: translate(0,-5px);
    } 
    a{
      transform: translate(0,2px);
    } 
  }

 a{
    display: block;
    padding: 10px;    
  }
}

.hover-icon{
  @media(min-width: $site-width-small){
    font-size: 4.5em;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1000;
    opacity: 0;
    transform: translate(0,20px) rotate(10deg);
    transition: transform 0.3s, opacity 0.2s; 
    .hover-box:hover &{
      opacity: 1;
      transform: translate(0) rotate(10deg);
      transition: transform 0.3s, opacity 0.2s; 
    }
  }
  @media(max-width: $site-width-small){
    display: none;
  }
}

