body{
  &.menu-open{
    overflow: hidden;
  }

  &.admin-bar{
      
    .navbar-brand{
      top: 42px !important;
      @media(max-width: $site-width-small){
        top: 62px;
      }     
    }

    #menu-icon{
      top: 32px !important;
      // background: rgba($color-primary,0.5);
      // border-radius: 50%;
      // height: 1.2em;
      // width: 1.2em;
      // text-align: center;
      // line-height: 1.1em;

      @media(max-width: $site-width-small){
        top: 62px;
      }     
    }

  }

  & > .container{
    // padding: 60px 15px 0;
  }

  .container{
    width: 100% !important;
    max-width: $max-content-width !important;
  }
}

body.home-page{
  .container{
    max-width: $menu-width !important;
    .row{
      max-width: $menu-width !important;
      margin: 0 auto;
    }
  }
}

body.author{
  main{
    margin-top: -6em;
  }
}

img{
  max-width: 100%;

  .card &{
    max-height: 400px;
    object-fit: cover;
  }

  &.aligncenter{
    display: block;
    margin: 3rem auto;
  }

  .card.author-card &{
    display: block;
    height: auto;
    margin: 0 auto;
  }
}

.card-footer{
  padding-bottom: 2.25em;
  background: none;
  border-top: none;
}

.card-title{
  margin-top: 0.75rem;
}

.site-width{
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Site navigation */
body:not( .home-page ){
  .hover-box{
    opacity: 0;
    transform: translateY(-20px) scale(1.05);
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  }
}
#menu-toggle{
  &:checked + #menu-wrapper{
    .hover-box{
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.2s 0.25s, opacity 0.2s 0.25s;

      &:nth-child(2) {
        transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
      }

      &:nth-child(3) {
        transition: transform 0.2s 0.15s, opacity 0.2s 0.15s;
      }

      &:nth-child(4) {
        transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
      }
    }
  }
}
nav{
  pointer-events: none;
  h2{
    font-family: $title-font-family;    
  }
  min-height: 5em;
  #menu-toggle{
    display: none;

    &:checked + #menu-wrapper{
      opacity: 1;
      transform: none;
      pointer-events: all;
      transition: transform 0.3s, opacity 0.1s;

      li{
        transform: none;
        opacity: 1;
      }

    }
  }
  
  .navbar-brand{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 2em;
    @media(max-width: $site-width-small){
      top: 5px;
      left: 5px;
      font-size: 2.5em;
    }     
  }

  #menu-icon{
    padding: 10px 15px;
    z-index: 300;
    font-size: 2.5em;
    line-height: 1em;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: 0 0 5px #000;
    text-shadow: 0 1px 2px #000, 0 0 1px #000;
    pointer-events: all;
    @media(max-width: $site-width-small){
      font-size: 3em;
    }

    body.menu-open &{
      // font-size: 4rem;
      // @media(max-width: $site-width-small){
      //   font-size: 7rem;
      // }
    }
  }

  li > a{
    display: inline !important;
    font-size: 2em;
    padding: 0 5px !important;
    line-height: 1.5em;
    color: $color-primary;
    &:hover{
      color: $background-primary;
      background-color: $color-primary;
    }
  }
}

body:not( .home-page ){
  #menu-wrapper{
    position: absolute;
    min-height: 100vh;
    max-height: 100%;
  }  
}

#menu-wrapper{
  padding-bottom: 2em;
  // overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  background-color: $background-primary;

  &:not( .menu-visible ){
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5%) scale(1.02);
    transition: transform 0.5s, opacity 0.1s;

  }

  li{
    text-transform: uppercase;
    transform: translateY(-55%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;  
  }

  @for $i from 0 to 10 {
    li:nth-child(#{$i+1}) {
      transition-delay: #{$i*0.05}s;
    }
  }

  .row{
    align-self: flex-start;
    max-width: $menu-width;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

ul.navbar-nav{  
  &, li.menu-item{
    display: block;
  }
}

/* Site thumbnail */

.thumbnail-wrapper{
  text-align: center;
  margin: 4em auto;

  @media(max-width: $site-width-small){
    margin-top: 0;
  }

  width: 100% !important;
  max-width: $max-content-width !important;

  &.image-expanded{
    max-width: 100vw !important;
  }
  
  // img{
  //   max-height: 50vh;
  //   min-height: 400px;
  //   object-fit: cover;
  //   object-position: center center;
  //   width: 100%;
  //   // transition: all 0.3s;

  //   &.image-expanded{
  //     max-height: 100%;
  //     max-width: 100vw;
  //     object-fit: contain;
  //   }
  // }
}

.single-bot{
  .thumbnail-wrapper{
    img{
      object-position: top center;    
    }
  }
}

.image-border-shadow{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

body.single-bot{
  .thumbnail-wrapper{
    position: relative;
    text-align: center;
    img{
      object-fit: cover;
    }

    .expand-image-hint{
      transition: transform 0.3s ease-out, opacity 0.2s ease-out;
      opacity: 0;
      transform: translateY(10px);
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 5px;
      pointer-events: none;
      background-color: $color-primary + #222;
      color: #fff;
      padding: 5px;
      p{
        font-weight: bold;
        padding: 5px;
        padding-right: 10px;
        margin: 0;
      }
    }    

    &:hover{
      .expand-image-hint{
        transition: transform 0.3s, opacity 0.2s;
        opacity: 1;
        transform: translateY(0);
      }      
    }

    &.image-expanded{
      .expand-image-hint{
        display: none !important;
      }
    }

  }  
}


  #robots{
    max-width: $max-content-width;
    width: 100%;
    height: 300px;
    max-height: 50vh;
    margin: 0 auto;
    overflow: hidden;
  }

  .robot{
      max-width: 100px;
      animation-duration: .3s;
      animation-fill-mode: both;
      animation-name: fade-in-up;
      animation-timing-function: ease-out;
  }

  @keyframes fade-in-up {
      from {
          opacity: 0;
          transform: translateY(10px)
      }
      to {
          opacity: 1;
          transform: translateY(0)
      }
  }
/* Site footer */

.footer{
  .footer-callout{
    max-width: 300px;
    margin: 0 auto;
  }
  .footer-logo{
    &-do{
      height: 1.15em;
      vertical-align: sub;
    }
  }
}

// .footer{
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 60px;
//   line-height: 60px;
//   background-color: #f5f5f5;  
// }



/* Fluid video embeds, via css-tricks.com. */

video {
  width: 100% !important;
  height: auto !important;
}

.video-background{
  background-color: #000;
  height: 315px;
  margin: 2em 0;
}

.video-wrapper {
  position: relative;
  margin: 3em auto;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 315px;
  max-width: 600px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 315px;
  }
}

/* Notes */

.note{
  background-color: $background-alternate;
  font-weight: bold;
  border: 2px solid $color-ternary;
  padding: 1em;
  margin-bottom: 2em;
  p{
    margin: 0;
  }
}

/* Search */

#menu-wrapper{
  #search-filters{
    &.container{
      padding: 0 !important;
    }
  }
}

#search-filters{
  .form-check{
    @media(max-width: $site-width-small){
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* Pagination */

.pagination{
  a, span{
    padding: 5px !important;
  }
}

.d-xs-block{
  @media(max-width: $site-width-small){
    display: block;
  }
}

.mastodon-embed{
  border: 1px solid #e1e8ed !important;
  margin-top: 3em;
  margin-bottom: 3em;
  /* TODO: Temporary fix for iframe size. */
  // min-height: 450px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  margin-bottom: 20px;
}

.list-content {
  width: 100%;
  background-color: #ccc;
  padding: 10px;
}

.social-embeds{
  max-width: $max-embed-width;
  // margin: 0 auto;
  margin: 0 -1rem;
}