body, .hover-box p {
  font-family: $body-font-family !important;
  color: $color-primary;
}

body.page-template-template-showcase{
  background: $background-ternary;
}

h1, h2, h3, h4, h5, h6{
  font-family: $title-font-family;
  line-height: 1;
  font-weight: bold;
}

h1{
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.7em;

  @media (max-width: $site-width-medium){
    margin-bottom: 1em;
  }

  body.single-bot &,
  body.single-bot &{
    word-wrap: break-word;
  }
}

h2{
  font-size: 2.75em;

  @media (max-width: $site-width-medium){
    line-height: 1.2em;
  }

  margin-top: 2rem;
  margin-bottom: 2rem;

  body.archive &,
  body.search &{
    margin-top: 0;
  }
}

.search-form{
  font-family: $body-font-family;
}

.card{
  border-radius: 0;
  transition: border-color 0.3s;

  &:hover{
    border-color: $color-ternary;
    transition: border-color 0.3s;
  }

  h2{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2em;
  }
  h3{
    color: $color-primary;
  }
  h5{
    font-size: 1.5em;
  }
}

h3{
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4{
  font-size: 2.25em;
  margin-top: 4rem;
  margin-bottom: 3rem;

  h3 + &{
    margin-top: -2rem;
  }
}

h1, h2, h3, h4{
  // text-transform: uppercase;  
}

#page-content{
  margin-top: 0;
}

h5{
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a{
 color: $link-color;

  &:hover{
    color: $link-color-hover;  
  }
  &, &:hover{
    transition: color 0.3s;
  }
}

ul, ol{
  margin-left: 3px;
  padding: 0 1em;
}

blockquote{
  /* Courtesy of css-tricks.com. */
  background: $background-ternary;
  border-left: none !important;
  font-style: italic;
  margin: 4rem auto !important;

  @media (max-width: $site-width-medium){
    margin: 2rem auto 1rem !important;
  }

  padding: 4rem 1rem 2rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";

  .col-md-6 &{
    padding-left: 1em;
    padding-right: 1em;

    @media (max-width: $site-width-medium){
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &:before {
    display: inline-block;
    color: $color-ternary;
    content: '“';
    font-family: $code-font-family;
    font-size: 13em;
    font-style: normal;
    font-weight: bold;
    line-height: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    vertical-align: -.5em;
    @media (max-width: $site-width-medium){
      margin-left: -1.5rem;
    }
  }

  cite, p {
    display: block;
    line-height: 1.5em;
    padding: 0 40px;
    @media (min-width: $site-width-medium){
      transform: translate(-10px, 0);
    }
    @media (max-width: $site-width-medium){
      padding: 0;
    }
  }

  cite{
    font-size: 0.9rem;
  }

  ul, ol{
    padding: 0 50px;
    @media (max-width: $site-width-medium){
      padding: 0 20px;
    }
  }
}

blockquote.instagram-media,
iframe.instagram-media{
  display: block;
  margin: 2em auto !important;
  max-width: calc(100% - 10px) !important;
}

blockquote.twitter-tweet,
iframe.twitter-tweet,
iframe,
.twitter-tweet{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body.page-template-template-submit-your-bot{
  blockquote{
    padding: 1em;

    &:before {
      display: block;
      margin-top: 30px;
    }  
  }
}

.twitter-tweet.twitter-tweet-rendered{
  margin: 2em auto !important;
}


.fb-post.fb_iframe_widget{
  span{
    max-width: 100% !important;
    width: 100%;
    iframe{
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

hr{
  border-top: solid 1px #dfdfdf;
  border-bottom: none;
  margin: 2em auto 2em;
  max-width: 95%;
}

.botwiki-logo{
  font-family: "Bree Serif", Serif;
  text-transform: lowercase;

  &.navbar-brand{
    position: fixed;
    top: 10px;
    left: 10px;
    text-shadow: 0 0 5px #000;
    pointer-events: all;
    &, &:hover{
      color: #fff;
    }
  }
}

a.pilcrow-link{
  &, &:hover{
    color: $color-primary;
    text-decoration: none;
    .pilcrow{
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.3s, opacity 0.2s;    

    }
  }

  .link{
    &:hover{
      text-decoration: underline;
    }
  }

  .pilcrow{
    position: absolute;
    margin-left: 1rem;
    opacity: 0;
    transform: translateY(5px);
    transition: transform 0.25s, opacity 0.2s;    

    color: $color-ternary; 
  }
}

a{
  // &.pilcrow > *{
  //   &:hover{
  //     &:after{
  //       opacity: 1;
  //       transition: opacity 0.2s;
  //       text-decoration: none;

  //     }
  //   }
  //   &:after{
  //     content: '¶';
  //     font-family: $code-font-family;
  //     font-size: 0.9em;
  //     vertical-align: top;
  //     margin-left: 1rem;
  //     opacity: 0;
  //     transition: opacity 0.2s;    
  //   }
  // }

  &.no-underline,
  &.no-underline:hover{
    text-decoration: none !important;
  }
}


p.post-tags{
  a{
    font-family: $button-font-family;
    font-size: 1rem;
    color: #42474e  ;
    background-color: #eaf2fb;
    line-height: 2em;
    padding: 5px;
    white-space: nowrap;

    &:before{
      content: '#';
    }

    &:hover{
      text-decoration: none;
      background-color: #eaf2fb - #222;

      &:before{
      }
    }

    &, &:hover{
      transition: background-color 0.3s;
    }
  }
}

.share-prompt{
  h3{
    margin-top: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $color-primary + #222;
  }

  ul.sharing-is-caring{
    padding-left: 0;

    @media (max-width: $site-width-small){
      padding-left: 0;
    }

    list-style: none;
    li{
      display: inline;
      a{
        img{
          max-width: 1.8em;
        }
        transition: opacity 0.4s;
      }
      a:hover{
        opacity: 0.8;
        transition: opacity 0.4s;
      }
    }
  }

  .ssbg-attribution{
    font-size: 0.7em;
    padding-top: 0;
    padding-bottom: 10px;    
    text-transform: uppercase;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}

.background-alternate{
  background-color: $background-alternate;
}

.background-fff{
  background-color: #fff;
}

footer{
  ul.footer-list{
    padding: 0;
    list-style: none;

    @media (max-width: $site-width-small){
      margin-top: 2em;
    }

    li{
      font-weight: bold;

      &.list-header{
        font-family: $title-font-family;
        font-size: 1.8em;
        text-transform: uppercase;
        margin-bottom: 0.6em;
      }

      a{
        text-decoration: none;
        text-transform: uppercase;
        color: $link-color-alternate;
        &:hover{
          color: $link-color-alternate-hover;          
        }
      }
    }
  }
}


div.bottom-page-links{
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 10px;

  ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    li{
      display: inline;
    }
  }

  img{
    vertical-align: top;
  }

  a{
    display: inline-block;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    text-decoration: none;
    line-height: 1.5em;
    background-color: $color-primary;
    color: #fff;
    vertical-align: top;
    text-align: center;
    font-size: 2.5em;
    margin: 2px;

    @media (min-width : $site-width-small){
      font-size: 1.9em;
    }
    
    &, &:hover{
      transition: opacity 0.3s, transform 0.2s, box-shadow 0.2s;
    }
    &:hover {
      animation: img-pop 0.3s forwards;
    }

    &#back-to-top{
      padding: 12px;
      line-height: 1em;
    }
    &#twitter-link{
      padding: 8px;
      @media (min-width: $site-width-small){
        width: auto;      
      }
      img{
        width: 1em;
      }
      span{
        font-size: .7em;
        line-height: 1.4em;
        vertical-align: inherit;
        @media (max-width : $site-width-small){
          display: none;
        }
      }
    }
  }
}

.list-style-circle{
  list-style-type: circle;
}

.pagination{
  .page-link{
    color: $color-primary;
    padding: 10px 20px !important;
  }
  .page-item.active .page-link{
    background: $color-primary;
    border-color: $color-primary;
  }
}

@keyframes img-pop {
  0% {
      transform: scale( 1 ) translate(0, 0);    
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }
  20% {

      transform: scale( 0.96 ) translate(0, 0);    
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }
  35% {
      transform: scale( 1 ) translate(0, 0);    
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }
  50% {
      transform: scale( 1 ) translate(0, 0);    
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }
  100% {
      transform: translate(0, -1px);
      box-shadow: 4px 6px 0 rgba(0,0,0,0.5);

  }
}

