/* Site dimensions */

$max-content-width: 1200px;
$max-embed-width: 1100px;
$site-width: 1500px;
$site-width-medium: 900px;
$site-width-small: 860px;
$menu-width: 1024px;
$footer-height: 130px;

/* Fonts */

$body-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Fira Sans', sans-serif;
$code-font-family: 'Source Code Pro', monospace;
$button-font-family: 'Source Code Pro', monospace;

/* Colors */

$color-primary: #4d4350;
$background-primary: #fff;
$background-alternate: #f3f3f3;

$link-color: #4A89DC;
$link-color-hover: $link-color + #111;

$link-color-alternate: $color-primary;
$link-color-alternate-hover: $link-color-alternate + #333;