/* Site dimensions */

$max-content-width: 1200px;
$max-embed-width: 1200px;
$site-width: 1400px;
$site-width-medium: 900px;
$site-width-small: 860px;
$menu-width: 1024px;
$footer-height: 130px;

/* Fonts */

$body-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Source Serif Pro', serif;
$code-font-family: 'Source Code Pro', monospace;
$button-font-family: 'Source Code Pro', monospace;

/* Colors */

$color-primary: #3c3c3c;
$color-secondary: $color-primary + #666;
$color-ternary: #bdc6d2;
$background-ternary: #f5f8fb;

$background-primary: #fff;
$background-alternate: $background-ternary;

$link-color: #4A89DC;
$link-color-hover: $link-color + #111;

$link-color-alternate: $color-primary;
$link-color-alternate-hover: $link-color-alternate + #333;