/* Site dimensions */

$max-content-width: 1000px;
$max-embed-width: 1000px;
$site-width: 1300px;
$site-width-medium: 900px;
$site-width-small: 860px;
$menu-width: 1024px;
$footer-height: 130px;

/* Fonts */

$body-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Source Serif Pro', serif;
$code-font-family: 'Source Code Pro', monospace;
$button-font-family: 'Source Code Pro', monospace;

/* Colors */

$color-primary: #4c4c4c;
$color-secondary: $color-primary + #666;
$background-primary: #fff;
$background-alternate: #f5f8fb;

$link-color: #4A89DC;
$link-color-hover: $link-color + #111;

$link-color-alternate: $color-primary;
$link-color-alternate-hover: $link-color-alternate + #333;