@import "../styles/variables.scss";


/* Layout helpers. */
.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}

.w-77{
  width: 77%;
}

.w-33{
  width: 33%;
}

.w-m-100{
  @media(max-width: $site-width-small){
    display: block;
    width: 100%;
  }
}

